.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 375px
}
.style91 {
  background-color: #648cff;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 375px;
  height: 188px;
  flex-direction: column
}
.container9row0 {
  display: flex;
  margin-top: 6px;
  width: 228px;
  height: 5px;
  align-items: center;
  align-self: center
}
.style113 {
  color: #fff;
  font-family: Ubuntu,serif;
  font-size: .3125em;
  font-weight: 700;
  margin-left: 0;
  height: 100%
}
.style114,
.style115,
.style116,
.style117 {
  color: #fff;
  font-family: Ubuntu,serif;
  font-size: .25em;
  margin-left: 31px;
  height: 3px
}
.style114,
.style115,
.style116 {
  color: #e1e1e1;
  margin-left: 16px
}
.style115,
.style116 {
  margin-left: 21px
}
.style116 {
  margin-left: 18px
}
.style118 {
  margin-left: 29px;
  width: 2px;
  height: 100%
}
.style119,
.style120 {
  margin-left: 8px;
  width: 5px;
  height: 100%
}
.style119 {
  margin-left: 7px
}
.container9row1 {
  display: flex;
  margin-left: 73px;
  margin-top: 28px;
  width: 217px;
  height: 118px
}
.style100,
.style99 {
  color: #fff;
  font-family: Ubuntu,serif;
  margin-left: 0
}
.style100 {
  font-weight: 700;
  font-size: .6875em;
  margin-top: 19px;
  width: 94px
}
.style99 {
  font-size: .25em;
  line-height: 6px;
  margin-top: 52px;
  width: 76px
}
.style109 {
  background-color: #fc6a42;
  display: flex;
  margin-left: 109px;
  margin-top: 57px;
  width: 18px;
  height: 18px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style110 {
  color: #fff;
  font-family: Ubuntu,serif;
  font-size: .25em;
  font-weight: 700;
  letter-spacing: -1px;
  height: 3px
}
.style94 {
  margin-left: 7px;
  width: 57px;
  height: 100%;
  align-self: stretch
}
.container9row1column3,
.style105 {
  display: flex;
  flex-direction: column
}
.container9row1column3 {
  position: relative;
  margin-left: 3px;
  margin-top: 16px;
  width: 18px;
  height: 54px
}
.style105 {
  background-color: #fff;
  margin-top: 0;
  width: 12px;
  height: 12px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center
}
.style106 {
  color: #6ca3ff;
  font-family: Ubuntu,serif;
  font-size: .25em;
  font-weight: 700;
  height: 3px
}
.style111 {
  background-color: #4466c9;
  position: relative;
  display: flex;
  margin-left: 5px;
  margin-top: 24px;
  width: 18px;
  height: 18px;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style112 {
  color: #fff;
  font-family: Ubuntu,serif;
  font-size: .1875em;
  font-weight: 700;
  letter-spacing: -1px;
  height: 3px
}
.style92 {
  background-image: url(https://designresources.assets.yotako.io/40599ufjj5tfdp1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  margin-top: 107px;
  width: 100%;
  height: 83px;
  align-items: stretch;
  align-self: stretch;
  flex-direction: column
}
.container9image29row0 {
  display: flex;
  margin-top: 5px;
  height: 82px;
  align-items: stretch
}
.style93 {
  opacity: .54;
  width: 375px
}
.container9image29row0column0,
.style95 {
  display: flex;
  width: 375px;
  flex-direction: column
}
.style95 {
  background-color: #fc6a42;
  margin-left: 73px;
  margin-top: 0;
  width: 31px;
  height: 11px;
  align-items: center;
  justify-content: center
}
.style96 {
  color: #fff;
  font-family: Ubuntu,serif;
  font-size: .25em;
  font-weight: 700;
  height: 3px
}
.style97 {
  background-color: #4466c9;
  display: flex;
  margin-left: 106px;
  margin-top: 0;
  width: 31px;
  height: 11px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style98 {
  color: #fff;
  font-family: Ubuntu,serif;
  font-size: .25em;
  font-weight: 700;
  height: 3px
}
.style107 {
  background-color: #fcec64;
  display: flex;
  margin-left: 271px;
  margin-top: 29px;
  width: 11px;
  height: 11px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style108 {
  color: #648cff;
  font-family: Ubuntu,serif;
  font-size: .25em;
  font-weight: 700;
  height: 3px
}
.style101,
.style102 {
  display: flex;
  align-items: center;
  flex-direction: column
}
.style101 {
  background-image: url(https://designresources.assets.yotako.io/40599ufjj5tfean.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  opacity: .09;
  align-self: center;
  margin-top: 0;
  width: 17px;
  height: 17px
}
.style102 {
  background-color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-top: 1px;
  width: 10px;
  height: 10px;
  justify-content: center
}
.style103,
.style104 {
  background-color: #ff4a4f;
  position: relative;
  height: 2px
}
.style103 {
  display: flex;
  width: 2px;
  align-items: stretch;
  flex-direction: column
}
.style104 {
  flex-shrink: 0
}
.style80,
.style81 {
  font-family: Ubuntu,serif
}
.style80 {
  font-weight: 700;
  color: #648cff;
  font-size: .4375em;
  margin-left: 154px;
  margin-top: 25px;
  height: 5px
}
.style81 {
  color: #999;
  font-size: .25em;
  margin-left: 175px;
  margin-top: 6px;
  height: 4px
}
.row3 {
  display: flex;
  margin-left: 73px;
  margin-top: 25px;
  width: 212px;
  height: 12px
}
.style82 {
  margin-left: 0;
  width: 16px;
  height: 100%
}
.style83 {
  color: #353854;
  font-family: Ubuntu,serif;
  font-size: .3125em;
  font-weight: 700;
  margin-left: 4px;
  height: 5px
}
.style85 {
  margin-left: 78px;
  width: 15px;
  height: 100%
}
.style86 {
  color: #353854;
  font-family: Ubuntu,serif;
  font-size: .3125em;
  font-weight: 700;
  margin-left: 4px;
  height: 4px
}
.style88 {
  margin-left: 156px;
  width: 15px;
  height: 100%
}
.style89 {
  color: #353854;
  font-family: Ubuntu,serif;
  font-size: .3125em;
  font-weight: 700;
  margin-left: 5px;
  height: 4px
}
.row4 {
  position: relative;
  display: flex;
  margin-left: 93px;
  margin-top: 0;
  width: 206px;
  height: 15px;
  align-items: stretch;
  justify-content: space-between
}
.style84,
.style87,
.style90 {
  color: #aeaeae;
  font-family: Ubuntu,serif;
  font-size: .1875em;
  line-height: 6px;
  width: 50px
}
.style70,
.style71 {
  font-family: Ubuntu,serif
}
.style70 {
  font-weight: 700;
  color: #648cff;
  font-size: .4375em;
  margin-left: 157px;
  margin-top: 38px;
  height: 5px
}
.style71 {
  color: #999;
  font-size: .25em;
  margin-left: 176px;
  margin-top: 5px;
  height: 4px
}
.row7 {
  display: flex;
  margin-left: 81px;
  margin-top: 7px;
  width: 211px;
  height: 151px
}
.style78 {
  margin-left: 0;
  margin-top: 65px;
  width: 5px;
  height: 10px
}
.style76 {
  background-image: url(https://designresources.assets.yotako.io/40599ufjj5tfd22.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  opacity: .12;
  display: flex;
  margin-left: 59px;
  width: 95px;
  height: 100%;
  align-items: center;
  align-self: stretch;
  flex-direction: column
}
.style77 {
  margin-top: 5px;
  width: 72px;
  height: 129px
}
.style79 {
  margin-left: 52px;
  margin-top: 65px;
  width: 5px;
  height: 10px
}
.row8 {
  display: flex;
  margin-left: 104px;
  margin-top: 347px;
  width: 172px;
  height: 130px;
  align-items: stretch
}
.style74 {
  background-image: url(https://designresources.assets.yotako.io/40599ufjj5tfclg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  opacity: .12;
  position: relative;
  display: flex;
  margin-left: 0;
  width: 82px;
  align-items: center;
  flex-direction: column
}
.style75 {
  margin-top: 4px;
  width: 62px;
  height: 110px
}
.style72 {
  background-image: url(https://designresources.assets.yotako.io/40599ufjj5tfcal.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  opacity: .12;
  display: flex;
  margin-left: 8px;
  width: 82px;
  align-items: center;
  flex-direction: column
}
.style73 {
  margin-top: 4px;
  width: 62px;
  height: 110px
}
.style38,
.style39 {
  font-family: Ubuntu,serif
}
.style38 {
  font-weight: 700;
  color: #648cff;
  font-size: .4375em;
  margin-left: 163px;
  margin-top: 22px;
  height: 5px
}
.style39 {
  color: #999;
  font-size: .25em;
  margin-left: 172px;
  margin-top: 5px;
  height: 4px
}
.row11,
.style43 {
  display: flex;
  margin-left: 77px;
  margin-top: 32px;
  width: 201px;
  height: 137px
}
.style43 {
  background-color: #7cc576;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  position: relative;
  margin-left: 0;
  margin-top: 81px;
  width: 18px;
  height: 18px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style41,
.style44 {
  font-family: Ubuntu,serif;
  letter-spacing: -1px
}
.style44 {
  color: #fff;
  font-size: .375em;
  font-weight: 700;
  height: 5px
}
.style41 {
  color: rgba(237,237,242,.59);
  font-size: 0;
  font-weight: 300;
  margin-left: 26px;
  height: 100%;
  align-self: stretch
}
.row11column2 {
  display: flex;
  margin-left: 12px;
  margin-top: 24px;
  width: 96px;
  height: 77px;
  flex-direction: column
}
.style49 {
  margin-top: 0;
  width: 24px;
  height: 12px
}
.style47,
.style48 {
  font-family: Ubuntu,serif
}
.style47 {
  font-weight: 700;
  height: 5px;
  color: #648cff;
  font-size: .4375em;
  margin-top: 9px
}
.style48 {
  color: #353854;
  font-size: .3125em;
  line-height: 8px;
  margin-top: 7px;
  width: 100%
}
.style40 {
  margin-top: 8px;
  width: 34px;
  height: 16px
}
.style42 {
  position: relative;
  margin-left: 91px;
  margin-top: 551px;
  width: 57px;
  height: 118px
}
.row13 {
  display: flex;
  margin-left: 73px;
  margin-top: 47px;
  width: 212px;
  height: 122px
}
.row13column0,
.style69 {
  margin-left: 1px;
  margin-top: 25px;
  width: 12px;
  height: 12px
}
.row13column0 {
  display: flex;
  margin-left: 0;
  width: 88px;
  height: 77px;
  flex-direction: column
}
.style67,
.style68 {
  font-family: Ubuntu,serif
}
.style67 {
  font-weight: 700;
  height: 5px;
  color: #648cff;
  font-size: .4375em;
  margin-top: 22px
}
.style68 {
  color: #353854;
  font-size: .3125em;
  line-height: 8px;
  margin-top: 7px;
  width: 100%
}
.style60 {
  margin-top: 8px;
  width: 34px;
  height: 16px
}
.style63 {
  background-color: #7cc576;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  position: relative;
  display: flex;
  margin-left: 35px;
  margin-top: 81px;
  width: 18px;
  height: 19px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style61,
.style64 {
  font-family: Ubuntu,serif;
  letter-spacing: -1px
}
.style64 {
  color: #fff;
  font-size: .375em;
  font-weight: 700;
  height: 5px
}
.style61 {
  color: rgba(237,237,242,.59);
  font-size: 0;
  font-weight: 300;
  margin-left: 26px;
  height: 100%;
  align-self: stretch
}
.style62 {
  position: relative;
  margin-left: 209px;
  margin-top: 722px;
  width: 57px;
  height: 118px
}
.row15 {
  display: flex;
  margin-left: 92px;
  margin-top: 53px;
  width: 189px;
  height: 118px
}
.style52 {
  background-image: url(https://designresources.assets.yotako.io/40599ufjj5tfbkn.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  margin-left: 0;
  width: 57px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style51 {
  color: rgba(237,237,242,.59);
  font-family: Ubuntu,serif;
  font-size: 0;
  font-weight: 300;
  letter-spacing: -1px;
  position: relative;
  margin-left: 36px;
  margin-top: 10px;
  height: 104px;
  flex-shrink: 0
}
.row15column1 {
  display: flex;
  margin-left: 43px;
  margin-top: 14px;
  width: 88px;
  height: 77px;
  flex-direction: column
}
.style59 {
  margin-top: 0;
  width: 27px;
  height: 12px
}
.style57,
.style58 {
  font-family: Ubuntu,serif
}
.style57 {
  font-weight: 700;
  height: 5px;
  color: #648cff;
  font-size: .4375em;
  margin-top: 9px
}
.style58 {
  color: #353854;
  font-size: .3125em;
  line-height: 8px;
  margin-top: 7px;
  width: 100%
}
.style50 {
  margin-top: 8px;
  width: 34px;
  height: 16px
}
.style53 {
  background-color: #7cc576;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  position: relative;
  display: flex;
  margin-left: 79px;
  margin-top: 970px;
  width: 18px;
  height: 19px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style54 {
  color: #fff;
  font-size: .375em;
  font-weight: 700;
  letter-spacing: -1px;
  height: 5px
}
.style20,
.style21,
.style54 {
  font-family: Ubuntu,serif
}
.style20 {
  font-weight: 700;
  color: #648cff;
  font-size: .4375em;
  margin-left: 143px;
  margin-top: 47px;
  height: 5px
}
.style21 {
  color: #999;
  font-size: .25em;
  margin-left: 183px;
  margin-top: 5px;
  height: 3px
}
.row19 {
  display: flex;
  margin-left: 73px;
  margin-top: 17px;
  width: 126px;
  height: 7px;
  align-items: stretch
}
.style23,
.style27 {
  color: #648cff;
  font-family: Ubuntu,serif;
  font-size: 1.625em;
  margin-left: 0
}
.style27 {
  margin-left: 108px
}
.row20 {
  display: flex;
  margin-left: 73px;
  margin-top: 5px;
  width: 221px;
  height: 12px;
  align-items: stretch
}
.style22,
.style26 {
  color: #353854;
  font-family: Ubuntu,serif;
  font-size: .3125em;
  line-height: 8px;
  margin-left: 0;
  width: 106px
}
.style26 {
  margin-left: 11px;
  width: 104px
}
.row21 {
  display: flex;
  margin-left: 73px;
  margin-top: 5px;
  width: 140px;
  height: 4px;
  align-items: stretch
}
.style25,
.style29 {
  color: #353854;
  font-family: Ubuntu,serif;
  font-size: .25em;
  margin-left: 0
}
.style29 {
  margin-left: 97px
}
.row22 {
  position: relative;
  display: flex;
  margin-left: 171px;
  margin-top: 0;
  width: 126px;
  height: 7px;
  align-items: stretch
}
.style24,
.style28 {
  color: #648cff;
  font-family: Ubuntu,serif;
  font-size: -1.5625em;
  margin-left: 0
}
.style28 {
  margin-left: 108px
}
.row23 {
  display: flex;
  margin-left: 73px;
  margin-top: 19px;
  width: 126px;
  height: 7px;
  align-items: stretch
}
.style31,
.style35 {
  color: #648cff;
  font-family: Ubuntu,serif;
  font-size: 1.625em;
  margin-left: 0
}
.style35 {
  margin-left: 108px
}
.row24 {
  display: flex;
  margin-left: 73px;
  margin-top: 5px;
  width: 228px;
  height: 12px;
  align-items: stretch
}
.style30,
.style34 {
  color: #353854;
  font-family: Ubuntu,serif;
  font-size: .3125em;
  line-height: 8px;
  margin-left: 0;
  width: 107px
}
.style34 {
  margin-left: 10px;
  width: 110px
}
.row25 {
  display: flex;
  margin-left: 73px;
  margin-top: 5px;
  width: 143px;
  height: 4px;
  align-items: stretch
}
.style33,
.style37 {
  color: #353854;
  font-family: Ubuntu,serif;
  font-size: .25em;
  margin-left: 0
}
.style37 {
  margin-left: 86px
}
.row26 {
  position: relative;
  display: flex;
  margin-left: 171px;
  margin-top: 0;
  width: 126px;
  height: 7px;
  align-items: stretch
}
.style32,
.style36 {
  color: #648cff;
  font-family: Ubuntu,serif;
  font-size: -1.5625em;
  margin-left: 0
}
.style36 {
  margin-left: 108px
}
.style12 {
  background-color: #648cff;
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 23px;
  width: 375px;
  height: 91px;
  flex-direction: column
}
.container2row1,
.style15 {
  position: relative;
  margin-left: 234px;
  margin-top: 13px;
  width: 57px;
  height: 118px;
  flex-shrink: 0
}
.container2row1 {
  display: flex;
  margin-left: 74px;
  margin-top: 25px;
  width: 257px;
  height: 123px
}
.style16 {
  color: #fff;
  font-family: Ubuntu,serif;
  font-size: .4375em;
  font-weight: 700;
  margin-left: 1px;
  height: 5px
}
.container2row1column0 {
  display: flex;
  margin-left: 0;
  width: 95px;
  height: 45px;
  flex-direction: column
}
.style17 {
  color: #fff;
  font-family: Ubuntu,serif;
  font-size: .25em;
  margin-top: 14px;
  width: 70px
}
.container2row1column0row1 {
  display: flex;
  margin-top: 6px;
  width: 57px;
  height: 9px;
  align-items: stretch
}
.style18 {
  margin-left: 0;
  width: 29px
}
.style19 {
  margin-left: 1px;
  width: 27px
}
.style13,
.style14 {
  width: 61px;
  height: 100%
}
.style13 {
  position: relative;
  margin-left: 117px
}
.style14 {
  margin-left: 18px
}
.style0 {
  background-color: #353854;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 375px;
  height: 73px;
  flex-direction: column
}
.container0row0 {
  display: flex;
  margin-left: 74px;
  margin-top: 20px;
  width: 104px;
  height: 4px;
  align-items: stretch
}
.style1,
.style2,
.style5 {
  font-family: Ubuntu,serif
}
.style1 {
  font-weight: 700;
  color: #fc6a42;
  font-size: .3125em;
  margin-left: 0
}
.style2,
.style5 {
  color: #fff;
  font-size: .25em;
  margin-left: 31px
}
.style2 {
  color: #b5b5c8;
  margin-left: 16px
}
.style10 {
  background-color: #434769;
  margin-left: 33px;
  margin-top: 19px;
  width: 312px;
  height: 1px
}
.style6 {
  color: #565b87;
  font-family: Ubuntu,serif;
  font-size: .1875em;
  margin-left: 219px;
  margin-top: 10px;
  height: 3px
}
.style11 {
  margin-left: 355px;
  margin-top: 12px;
  width: 4px;
  height: 2px
}